@charset "UTF-8";
* {
  line-height: normal;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #212121;
}

ul, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

a {
  color: #212121;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200) {
  .section {
    padding: 94px 0;
  }
}

.title {
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    padding-bottom: 50px;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header .mobile {
  z-index: 10;
}

.header .mobile__menu__container {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
}

@media screen and (max-width: 767px) {
  .header .mobile__menu__container {
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding-left: 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
    display: none;
  }
  .header .mobile__menu__container.is-open {
    display: block;
    z-index: 10;
  }
}

@media screen and (min-width: 768px) {
  .header .mobile__menu__container {
    display: none;
  }
}

.header .mobile__menu {
  border: none;
  background: none;
  position: absolute;
  right: 15px;
  top: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .mobile__menu:hover, .header .mobile__menu:active, .header .mobile__menu:focus {
  fill: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .mobile__navigation__list, .header .mobile__address__list {
  display: flex;
  flex-direction: column;
  line-height: 1.17;
}

.header .mobile__navigation__item, .header .mobile__address__item {
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .header .mobile__navigation__item, .header .mobile__address__item {
    margin-bottom: 32px;
  }
}

.header .mobile__navigation {
  margin-top: 48px;
}

.header .mobile__navigation__list {
  font-size: 20px;
}

@media screen and (min-width: 480px) {
  .header .mobile__navigation__list {
    font-size: 40px;
  }
}

.header .mobile__navigation__link:hover, .header .mobile__navigation__link:active, .header .mobile__navigation__link:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .mobile__navigation__link--active {
  position: relative;
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .mobile__address__list {
  font-size: 17px;
  position: absolute;
  bottom: 164px;
}

@media screen and (min-width: 480px) {
  .header .mobile__address__list {
    font-size: 34px;
  }
}

@media screen and (min-width: 480px) {
  .header .mobile__address__list {
    bottom: 134px;
  }
}

@media screen and (max-width: 479px) {
  .header .mobile__address__item {
    padding-bottom: 10px;
  }
}

.header .mobile__address__link {
  color: #757575;
}

.header .mobile__address__link:hover, .header .mobile__address__link:active, .header .mobile__address__link:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .mobile__address__link--active {
  position: relative;
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .mobile__social__list {
  position: absolute;
  bottom: 48px;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 479px) {
  .header .mobile__social__list {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .header .mobile__social__item {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 480px) {
  .header .mobile__social__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .header .mobile__social__item:not(:first-child) {
    padding-left: 10px;
  }
}

.header .mobile__social__link {
  color: #2196F3;
}

.header .container {
  min-height: 60px;
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header .container {
    min-height: 80px;
  }
}

.header .container .mobile__menu {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
}

@media screen and (min-width: 768px) {
  .header .container .mobile__menu {
    display: none;
  }
}

.header .container .navigation__list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header .container .navigation__list {
    display: none;
  }
}

.header .container .navigation__item:not(:last-child) {
  padding-right: 50px;
}

.header .container .navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .container .navigation__link:hover, .header .container .navigation__link:active, .header .container .navigation__link:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .container .navigation__link--active {
  position: relative;
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .container .navigation__link--active::after {
  content: '';
  position: absolute;
  bottom: -32px;
  right: 0;
  width: 100%;
  border-bottom: 4px solid #2196F3;
  border-radius: 2px;
}

.header .container .address__list {
  margin-left: auto;
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .container .address__list {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .header .container .address__list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header .container .address__item:not(:last-child) {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header .container .address__item:not(:last-child) {
    padding-right: 30px;
  }
}

.header .container .address__link {
  display: flex;
  align-items: center;
  color: #757575;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .container .address__link:hover, .header .container .address__link:focus {
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header .container .address__link--icon {
  max-height: 16px;
  max-width: 16px;
  margin-right: 10px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
  cursor: pointer;
  padding: 10px 0;
}

.button__portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border: none;
  border-radius: 4px;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 6px 22px;
}

.button__portfolio:hover, .button__portfolio:focus, .button__portfolio--active {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__form--icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  fill: #FFFFFF;
}

.button__hero {
  display: block;
  margin: auto;
}

.button__hero:hover, .button__hero:focus {
  cursor: pointer;
  background-color: #188CE8;
  transition: background-color 2250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .logo--header {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .logo--header {
    margin-right: 88px;
  }
}

.logo--accent {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo--footer {
  color: #FFFFFF;
}

/* Section Hero */
.hero {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #F5F4Fa;
  margin: 0 auto 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 700px;
  }
}

/* /Section Hero */
/* Section Feature */
.feature {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .feature {
    display: flex;
    align-items: center;
  }
}

.feature__list {
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) {
  .feature__item {
    width: 450px;
  }
}

@media screen and (max-width: 1200px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
  }
}

.feature__item__icon {
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 0;
}

@media screen and (max-width: 479px) {
  .feature__item__icon {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) {
  .feature__item__icon {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item__icon {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item__icon {
    width: 270px;
  }
}

.feature__item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
}

@media screen and (max-width: 479px) {
  .feature__item__title {
    margin-top: 30px;
    text-align: center;
  }
}

.feature__item__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

@media screen and (max-width: 479px) {
  .feature__item__text {
    text-align: center;
  }
}

/* /Section Feature */
/* Section Work */
.work {
  display: none;
}

.work__list {
  display: flex;
  justify-content: space-between;
}

.work__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  position: relative;
}

.work__item--overlay {
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  position: absolute;
  bottom: 4px;
  padding: 27px 0;
  color: #FFFFFF;
}

/* /Section Work */
/* Section Team */
.team {
  background-color: #F5F4Fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.team__item {
  background-color: #FFFFFF;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

@media screen and (min-width: 480px) {
  .team__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__item__image {
  margin-bottom: 30px;
}

.team__item__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__item__text {
  color: #757575;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__social__list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.team__social__item:not(:last-child) {
  margin-right: 10px;
}

.team__social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social__link:hover, .team__social__link:focus {
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social__link--icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social__link:hover .team__social__link--icon,
.team__social__link:focus .team__social__link--icon {
  fill: #FFFFFF;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* /ection Team */
/* Section Client */
@media screen and (min-width: 480px) {
  .client__list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .client__list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .client__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) and (max-width: 1199px) {
  .client__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}

.client__item__link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item__link--icon {
  display: block;
  margin: 0 auto;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .client__item__link--icon {
    height: 60px;
    width: 106px;
    margin: 16px 52px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item__link--icon {
    margin: 16px 32px;
  }
}

.client__item__link:hover .client__item__link--icon,
.client__item__link:active .client__item__link--icon,
.client__item__link:focus .client__item__link--icon {
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item__link:hover, .client__item__link:active, .client__item__link:focus {
  border: 1px solid #2196F3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* /Section Client */
/* Section Portfolio */
.portfolio {
  letter-spacing: 0.03em;
}

.portfolio__button__list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .portfolio__button__list {
    justify-content: start;
    flex-wrap: wrap;
  }
}

.portfolio__button__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio__button__item:nth-child(3n+1) {
    margin-bottom: 15px;
  }
}

.portfolio__list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-top: 60px;
  }
}

.portfolio__item {
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .portfolio__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    width: 354px;
  }
}

.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__item--overlay {
  top: 0;
  pointer-events: none;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item .image {
  position: relative;
  overflow: hidden;
}

.portfolio__item img {
  width: 100%;
  display: block;
}

.portfolio__item--overlay {
  pointer-events: none;
  position: absolute;
  top: 356px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item--overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #FFFFFF;
  padding: 15px 15px;
}

@media screen and (min-width: 480px) {
  .portfolio__item--overlay__text {
    padding: 63px 24px;
  }
}

.portfolio-block {
  padding: 20px 24px;
}

.portfolio-block__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-block__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* Footer */
.footer {
  background-color: #2F303A;
  padding: 60px 0;
}

.footer__list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer__list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__list {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1200px) {
  .footer__item {
    margin-top: 60px;
  }
}

.footer__item__text {
  color: #FFFFFF;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__social__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer__social__item:not(:last-child) {
  padding-right: 10px;
}

.footer__social__item__link svg {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer__social__item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social__item__link:hover, .footer__social__item__link:focus {
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  font-style: normal;
  padding-top: 20px;
}

.footer .address__item:not(:last-child) {
  padding-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer .address__item:not(:last-child) {
    padding-bottom: 9px;
  }
}

.footer .address__link--accent {
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .address__link--accent:hover, .footer .address__link--accent:active, .footer .address__link--accent:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .address__link:hover, .footer .address__link:active, .footer .address__link:focus {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-send {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .form-send {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .form-send {
    flex-wrap: wrap;
  }
}

.form-send__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 15px;
  color: #FFFFFF;
  margin-right: 15px;
}

@media screen and (min-width: 480px) {
  .form-send__input {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .form-send__input {
    margin-bottom: 20px;
  }
}

.form-send__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-send__text {
  color: #FFFFFF;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(80, 65, 65, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Перенести в form.scss ??? */
}

.modal-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-button svg {
  width: 11px;
  height: 11px;
}

.modal-button:hover svg {
  fill: #2196F3;
}

.modal-form {
  font-weight: 400;
  color: #757575;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .modal-form {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form {
    width: 450px;
  }
}

.modal-form-icon {
  position: relative;
  display: block;
}

.modal-form-icon svg {
  width: 18px;
  height: 18px;
  fill: #212121;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.modal-form-label {
  margin-bottom: 10px;
}

.modal-form-input {
  padding: 12px 0 12px 42px;
  height: 40px;
}

.modal-form-textarea textarea {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
}

@media screen and (min-width: 480px) {
  .modal-form-textarea textarea {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-textarea textarea {
    width: 450px;
  }
}

.modal-form-textarea textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-input,
.modal-form-textarea textarea {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}

@media screen and (min-width: 480px) {
  .modal-form-input,
  .modal-form-textarea textarea {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-input,
  .modal-form-textarea textarea {
    width: 450px;
  }
}

.modal-form-label:focus-within input,
.modal-form-textarea:focus-within textarea {
  border: 1px solid #2196F3;
}

.modal-form-label:focus-within svg {
  fill: #2196F3;
}

.modal-form-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-checkbox input {
  margin-right: 8px;
  visibility: hidden;
}

.modal-form-policy__text::before {
  content: '';
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  background-color: #FFFFFF;
  border-radius: 2px;
  background-origin: padding-box;
}

.modal-form-policy__text {
  position: relative;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal-form-policy__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-input:checked + .modal-form-policy__text::before {
  background-color: #2196F3;
  border: none;
  background-image: url(/images/svg/checked.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-form-policy__link {
  color: #2196F3;
  text-decoration: line;
}

.modal h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
/*# sourceMappingURL=main.css.map */